.orange{
    color:#FA804C;
}
/* back-clr{
    background-color: #FFF9F4;
} */
.nike-bg-primary{
    background-color:  #FFF9F4;;
}
.btn-bg-primary{
    background-color: #3D4FF3;
}
.shoe-bg-light{
    background-color: #F1F1F1;
}